In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import torch
from torch import nn
from torchvision import datasets, transforms
import torch.nn.functional as F

from glob import glob
from tqdm import tqdm

# Read Data

In [3]:
path = './data/'
train_npy_path = sorted(glob(path+'train/*.npy'))

In [4]:
train_csv = pd.read_csv(path+'train.csv')
train_csv.head()

     month     file_nm
0  1978-11  197811.npy
1  1978-12  197812.npy
2  1979-01  197901.npy
3  1979-02  197902.npy
4  1979-03  197903.npy

In [5]:
train_csv = pd.read_csv(path+'train.csv')
train_csv.head()

     month     file_nm
0  1978-11  197811.npy
1  1978-12  197812.npy
2  1979-01  197901.npy
3  1979-02  197902.npy
4  1979-03  197903.npy

# Make