In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import torch
from torch import nn
from torchvision import datasets, transforms
import torch.nn.functional as F

from glob import glob
from tqdm import tqdm

# Read Data

In [6]:
path = './data/'
train_npy_path1 = sorted(glob(path+'train/*.npy'))
train_npy_path2 = sorted(glob(path+'train_data_v2/*.npy'))
train_npy_path = train_npy_path1 + train_npy_path2

In [10]:
train_csv1 = pd.read_csv(path+'train.csv')
train_csv2 = pd.read_csv(path+'train_v2.csv')
train_csv = pd.concat([train_csv1, train_csv2])
train_csv.head()

     month     file_nm
0  1978-11  197811.npy
1  1978-12  197812.npy
2  1979-01  197901.npy
3  1979-02  197902.npy
4  1979-03  197903.npy

# Deal with the missing data on channel 1
to fill in the missing data, we need to use the data on channel 2, which describes the non-objervable area by statelite.